<div class="container wrapper">
    <app-navbar [title]="title" (filterTyped)="filterDogsList($event)">
    </app-navbar>
    <div class="row">
        <div class="col-3 customPadding">
            <app-dogs-list [images]="images" [dogs]="dogs" [selected]="selected" (dogClicked)="dogSelected($event)"></app-dogs-list>
        </div>
        <div class="col-9 customPadding">
            <app-gallery [images]="images" [selected]="selected" [busy]="dogsService.fetchingImages"></app-gallery>
        </div>
    </div> 
</div>
 